.custom-navbar {
background: linear-gradient(90deg, #e6f4fa, #c8e6f9);
color: #0f1f3d;
box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);

  padding: 0.8rem 2rem;
  z-index: 1000;
}

.custom-navbar .navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #090707 !important;
}

.custom-navbar .nav-link,
.custom-navbar .dropdown-toggle,
.custom-navbar .dropdown-item {
  color: #1a1414 !important;
  transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover,
.custom-navbar .dropdown-item:hover {
  color: #4116b7 !important;
}

.custom-navbar .dropdown-menu {
  background-color: #90bcde;
  border: none;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.custom-navbar .btn-outline-danger {
  color: #fff;
  border-color: #ff4d4d;
}

.custom-navbar .btn-outline-danger:hover {
  background-color: #ff4d4d;
  color: #fff;
}
